.demo {
  &__container {
    display: flex;
  }

  &__left {
    width: 50%;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include tablet {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding: var(--big-offset);
    width: 50%;
    background-color: var(--color-swirl);

    @include tablet {
      width: 100vw;
    }
  }

  &__link {
    position: relative;
    align-self: end;
    font: var(--font-regular);
    font-size: 18px;
    text-align: right;
    color: var(--color-secondary);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: var(--color-secondary);
      opacity: 1;
      visibility: visible;
      transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    padding: var(--big-offset) 0 0;

    @include mobile {
      flex-direction: column;
    }
  }

  &__img {
    margin: 0 var(--big-offset) 0 0;
    width: 200px;
    height: 230px;

    @include mobile {
      margin: 0;
      width: auto;
      height: auto;
    }
  }

  &__inner {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__subtitle {
    margin: 0 0 var(--average-offset);
    font: var(--font-regular);
    font-size: 18px;
    color: var(--color-secondary);
  }

  &__text {
    margin: 0 0 var(--average-offset);
    max-width: 400px;
    font: var(--font-regular);
    color: var(--color-secondary);
  }

  &__btn {
    padding: var(--small-offset);
    width: 100%;
    height: 60px;
    max-width: 400px;
    font: var(--font-regular);
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;

    &:not(:last-child) {
      margin: 0 0 var(--average-offset);
    }

    &:hover {
      opacity: 1;
    }

    &--black {
      color: var(--color-main);
      background-color: var(--color-secondary);
    }

    &--transparent {
      border: 1px solid rgba(#252525, 0.2);
      color: var(--color-secondary);
      background-color: transparent;
    }
  }
}
