@import "../mixins";

.header {
  padding: var(--average-offset) 50px;

  &__container {
    display: flex;
    align-items: center;

    @include middle-screen {
      justify-content: space-between;
    }
  }

  &__logo {
    img {
      display: block;
    }
  }

  &__nav {
    margin: 0 0 0 var(--big-offset);

    @include middle-screen {
      display: none;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 var(--middle-offset) 0 0;
    }
  }

  &__link {
    font: var(--font-regular);
    color: var(--color-main);
  }

  &__links {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;

    @include middle-screen {
      display: none;
    }
  }

  &__ref {
    font: var(--font-regular);
    color: var(--color-main);

    &:not(:last-child) {
      margin: 0 var(--small-offset) 0 0;
    }
  }

  &__burger {
    @include burger;

    @include middle-screen {
      display: block;
    }
  }

  @include small-screen {
    padding: var(--average-offset);
  }
}
