<section class="demo">
  <div class="demo__container">
    <div class="demo__left"><img src="img/2.png" alt=""></div>
    <div class="demo__right">
      <a href="#" class="demo__link">Schließen</a>
      <div class="demo__wrapper">
        <img src="img/demo.png" alt="Sculpt Hair Polish" class="demo__img">
        <div>
          <strong class="demo__title title">Sculpt Hair Polish</strong>
          <p class="demo__subtitle">Ein Gel, das Pr&auml;zision und Geschmeidigkeit vereint</p>
          <p class="demo__text">Das Sculpt Hair Polish ist ein Styling-Gel mit einzigartigem Halt. Fest und doch flexibel,
            das Resultat ist stets eine
            sorgf&auml;ltig komponierte Frisur&nbsp;&mdash; ob&nbsp;kurz oder lang, akribisch oder betont l&auml;ssig.</p>
          <button class="demo__btn demo__btn--black btn-reset">Zum Warenkorb hinzuf&uuml;gen&nbsp;&mdash; <span class="demo__price">27,00&nbsp;&euro;</span></button>
          <button class="demo__btn demo__btn--transparent btn-reset">Sculpt Hair Polish entdecken</button>
          </div>
      </div>
    </div>
  </div>
</section>