// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/notice";
@import "./components/main";
@import "./components/demo";
@import "./components/carousel";
@import "./components/info";
@import "./components/quote";
@import "./components/footer";

.title {
  display: block;
  margin: 0 0 var(--average-offset);
  font: var(--font-regular);
  font-size: 30px;
  color: var(--color-secondary);
}
